<html>
<head>
  <title>adiobox2</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  <script src="/javascripts/modernizr.custom.01318.js" type="text/javascript"> </script>
  <script src="/javascripts/tmpl.min.js" type="text/javascript"> </script>
</head>
<body>
  <div id="wrapper">
  </div>
  <script src="/javascripts/moment.min.js" type="text/javascript"> </script>  
  <script src="/javascripts/moment-nl.js" type="text/javascript"> </script>  
  <script src="/javascripts/sprintf.min.js" type="text/javascript"> </script>  
  <script src="/javascripts/jquery-1.10.2.min.js" type="text/javascript"> </script>

  <script src="/javascripts/radiobox2.js" type="text/javascript"> </script>
</body>
</html>